body {
    background-image: url("../images/milada-vigerova-333660-unsplash.jpg");
    background-size: cover;

    
}
header{
    text-align: center;
    width:80%;
    font-family: 'Abril Fatface', cursive;
    font-size: 60px;
    margin: auto;
    padding:15px;
}
.container {
    width: 80%;
    margin:auto;
}
#directions {
    text-align: center;
    width:80%;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding:5px;
    background-color:lightblue;
}
#crystals{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.crystalimages{
    border-style: solid;
    border-color: blue;
    border-width: thick;
    margin:15px;
}
footer{
    text-align: center;
    width:80%;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding:5px;
    background-color:lightblue;
}
#gameScore{
    column-count: 2;
    text-align: center;
    width:80%;
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    padding:10px;
    background-color:lightgrey;
}
#scoreBoard {
    column-count: 2;
    text-align: center;
    width:80%;
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    padding:10px;
}